.status-bar {
	color: black;
	display: flex;
	align-items: center;
	width: 100%;
	height: 2rem;
	background-color: #D0D000;
}
.status-bar #again {
	text-decoration: underline;
	cursor: pointer;
}

.status-bar * {
	margin: 0px 20px 0px 20px;
	font-size: min(max(11px, 100vw / 40), 16px);
	font-weight: bold;
}